<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.info.SpMapper">

    <sql id="searchSPSql">
		sp_id AS spId,
		sp_name AS name,
		sp_kind AS type,
		sp_address AS address,
		sp_contact AS contact,
		sp_tel1 AS tel,
		email AS email,
		cooperation_time AS cooperationTime,
		remark AS remark
	</sql>

    <select id="querySpInfo" resultType="SpInfo">
        select
        <include refid="searchSPSql"/>
        FROM t_jc_supplier
        WHERE sp_id =#{spId}
        limit 1
    </select>


    <select id="listSPInfosCounts" resultType="Integer">
		SELECT COUNT(*) FROM
		t_jc_supplier where del_flag=0
	</select>

    <select id="listFilteredSPInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_jc_supplier where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            sp_id like concat('%',#{searchValue},'%') or
            sp_name like concat('%',#{searchValue},'%') or
            sp_kind like concat('%',#{searchValue},'%') or
            sp_address like concat('%',#{searchValue},'%') or
            cooperation_time like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchSP" resultType="SpInfo">
        SELECT
        <include refid="searchSPSql"/>
        FROM t_jc_supplier
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            sp_id like concat('%',#{searchValue},'%') or
            sp_name like concat('%',#{searchValue},'%') or
            sp_kind like concat('%',#{searchValue},'%') or
            sp_address like concat('%',#{searchValue},'%') or
            cooperation_time like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>


    <!--<insert id="updateSp">
        <selectKey keyProperty="filterCounts" resultType="int" order="BEFORE">
            select count(*) from t_jc_supplier WHERE sp_id =#{spId}
        </selectKey>
        <choose>
            <when test="filterCounts > 0 ">
                update t_jc_supplier 	set
                    sp_name=#{name},
                    sp_kind=#{type},
                    sp_address=#{address},
                    sp_tel1=#{tel},
                    cooperation_time=#{cooperationTime},
                    remark=#{remark},
                    sp_contact=#{contact}
                WHERE sp_id =#{spId}
            </when>
            <otherwise>
                insert into
                t_jc_supplier (sp_id,sp_name,sp_kind,sp_address,sp_tel1,sp_contact,cooperation_time,remark)
                values (#{spId},#{name},#{type},#{address},#{tel},#{contact},#{cooperationTime},#{remark})
            </otherwise>
        </choose>
    </insert>-->


    <update id="updateSp">
		update t_jc_supplier 	set
		sp_name=#{name},
		sp_kind=#{type},
		sp_address=#{address},
		sp_tel1=#{tel},
		email=#{email},
		cooperation_time=#{cooperationTime},
		remark=#{remark},
		sp_contact=#{contact}
		WHERE sp_id =#{spId}
	</update>


    <insert id="add">
		insert into
		t_jc_supplier (sp_id,sp_name,sp_kind,sp_address,sp_tel1,sp_contact,cooperation_time,remark)
		values (#{spId},#{name},#{type},#{address},#{tel},#{contact},#{cooperationTime},#{remark})
	</insert>

    <update id="del">
		update t_jc_supplier
		set  del_flag=1
		where sp_id =#{spId}
	</update>


    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        select
        sp_id AS natrualkey,
        sp_name AS name
        from t_jc_supplier
        where del_flag=0
        <if test="name!=null and name != ''">
            and sp_kind=#{name}
        </if>
    </select>
</mapper>