<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.permission.PermissionMapper">

    <delete id="delRoleInfoByUserId">
            DELETE FROM t_qx_role_user WHERE user_id =#{userId}
        </delete>

    <update id="addBatchRoleUser">
        INSERT INTO t_qx_role_user(user_id,role_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </update>

    <select id="queryRoleUsers" resultType="com.skysport.core.bean.permission.RoleUser">
      SELECT role_id AS roleId,user_id AS userId    FROM t_qx_role_user WHERE  user_id =#{userId}
    </select>


    <delete id="delResourceInfoByRoleId">
        DELETE FROM t_qx_role_resources WHERE role_id =#{roleId}
    </delete>


    <update id="addBatchResourceRole">
        INSERT INTO t_qx_role_resources(role_id,resource_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.roleId},#{item.resourceId})
        </foreach>
    </update>


    <select id="queryResourceRoles" resultType="com.skysport.core.bean.permission.ResourceRole">
        SELECT resource_id AS resourceId,role_id AS roleId    FROM t_qx_role_resources WHERE  role_id =#{roleId}
    </select>


</mapper>