<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.permission.RoleInfoMapper">
    <sql id="searchInfoSql">
        id AS id,
        role_id AS natrualkey,
        role_name AS name,
        role_desc AS roleDesc,
        del_flag AS delFlag,
        update_time AS updateTime,
        remark AS remark,
        parent_id AS parentId,
        dept_id AS deptId
    </sql>
    <select id="queryInfo" resultType="RoleInfo">
        SELECT
          <include refid="searchInfoSql"/>
        FROM t_qx_role
        WHERE role_id =#{natrualkey}
        limit 1
    </select>

    <select id="queryParentId"  resultType="String">
        SELECT parent_id
        FROM t_qx_role
        WHERE role_id =#{groupId}
         AND del_flag=0
            limit 1
    </select>


    <select id="listInfosCounts" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          t_qx_role WHERE del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        t_qx_role
        WHERE del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            AND (
            role_name LIKE concat('%',#{searchValue},'%') or
            role_desc LIKE concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="RoleInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_qx_role
        WHERE del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            role_name like concat('%',#{searchValue},'%') or
            role_desc like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        <if test="length!=null and length !=0">
            limit #{start} ,#{length}
        </if>
    </select>

    <update id="updateInfo">
        UPDATE t_qx_role
        SET
          role_desc=#{roleDesc},
          remark=#{remark},
          role_name=#{name},
          dept_id=#{deptId},
          parent_id=#{parentId}
        WHERE
           role_id =#{natrualkey}
    </update>

    <insert id="add">
        INSERT
        INTO
            t_qx_role (role_id,role_name,role_desc,remark,parent_id,dept_id)
        VALUES
           (#{natrualkey},#{name},#{roleDesc},#{remark},#{parentId},#{deptId})
    </insert>

    <update id="del">
        UPDATE t_qx_role
        SET  del_flag=1
        WHERE role_id =#{natrualkey}
    </update>


    <select id="queryCurrentSeqNo" resultType="String">
        SELECT CASE WHEN role_id IS NULL THEN 0 ELSE role_id END FROM t_qx_role    ORDER BY id DESC LIMIT 1
    </select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        SELECT
        role_id AS natrualkey,
        role_name AS name
        FROM t_qx_role
        WHERE del_flag=0
        <if test="name!=null and name!=''"> AND upper(role_name) LIKE concat('%',#{name},'%')</if>
    </select>


</mapper>