<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.permission.SidebarMapper">

    <sql id="searchInfoSql">
        d.id AS id,
        d.resource_id AS natrualkey,
        d.resource_name AS name,
        d.resource_desc AS resourceDesc,
        d.resource_url AS resourceUrl,
        d.del_flag AS delFlag,
        d.update_time AS updateTime,
        d.remark AS remark,
        d.pid AS parentId,
        d.no AS no
    </sql>

    <select id="selectAllResourceByUserId" resultType="com.skysport.core.bean.permission.ResourceInfo">
        SELECT
            <include refid="searchInfoSql"/>
        FROM
        (
        SELECT
          DISTINCT c.resource_id as resource_id
        FROM
          t_qx_role_user a
        INNER JOIN t_qx_role b ON a.role_id = b.role_id AND a.user_id = #{userId}
        INNER JOIN t_qx_role_resources c ON c.role_id = b.role_id
        ) k
        INNER JOIN t_qx_resources d ON d.resource_id = k.resource_id
        <if test="type!=null">
            AND d.type = #{type}
        </if>
        <if test="pid!=null">
            AND d.pid = #{pid}
        </if>
        ORDER BY NO DESC
    </select>


    <select id="selectAdminResource"  resultType="com.skysport.core.bean.permission.ResourceInfo">
        SELECT
          <include refid="searchInfoSql"/>
        FROM
          t_qx_resources d
        WHERE
          d.type =0  AND d.pid = '0'
        ORDER BY NO DESC
    </select>




    <select id="selectMenu" resultMap="cascadeMenuMap">
        SELECT
            resource_id ,
            resource_name,
            pid,
            resource_url,
            no
        FROM  t_qx_resources
        WHERE pid=#{pid} AND TYPE =0 ORDER BY NO DESC
    </select>

    <resultMap id="cascadeMenuMap" type="com.skysport.core.bean.permission.Menu">
        <result property="id" column="resource_id"></result>
        <result property="name" column="resource_name"></result>
        <result property="pid" column="pid"></result>
        <result property="url" column="resource_url"></result>
        <result property="no" column="no"></result>
        <collection property="menus" column="{pid=resource_id}" ofType="String" javaType="java.util.ArrayList" select="selectMenu"></collection>
    </resultMap>


</mapper>