@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1')
		format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
		url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
		url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*margin-right: .3em;
}