<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.core.mapper.TableKeyMapper">


    <parameterMap id="paramMap1" type="java.util.Map">
        <parameter property="name" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <parameterMap id="paramMap2" type="java.util.Map">
        <parameter property="kind_name" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="length" mode="IN" jdbcType="INTEGER"/>
        <parameter property="currentSeqNo" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="result" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <select id="nextVal" parameterMap="paramMap1" statementType="CALLABLE">
        call p_max_id(?,?)
    </select>

    <select id="nextVal2" parameterMap="paramMap2" statementType="CALLABLE">
        call p_next_id(?,?,?,?)
    </select>


</mapper>