<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.develop.relation.BomMaterialMapper">

    <update id="backupRecordsToHis">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            INSERT INTO t_kf_bom_material_his(material_id,bom_id)  SELECT material_id,bom_id FROM t_kf_bom_material  WHERE  material_id = #{item.materialId} and bom_id=#{item.bomId};
            DELETE FROM t_kf_bom_material WHERE material_id = #{item.materialId} and bom_id=#{item.bomId}
        </foreach>
    </update>

    <insert id="batchInsert">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            INSERT INTO t_kf_bom_material(material_id,bom_id)   VALUES(#{item.materialId},#{item.bomId})
        </foreach>
    </insert>

</mapper>