<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.develop.PantoneMapper">
    <sql id="searchInfoSql">
		pantone_id AS pantoneId,
		color_no AS colorNo,
		kind AS kind,
		en_name AS enName,
		zh_name AS zhName,
		page_no AS pageNo,
		code_color AS codeColor,
		rgb AS rgb,
		del_flag AS delFlag,
		remark AS remark
	</sql>
    <select id="queryInfo" resultType="PantoneInfo">
        select
        <include refid="searchInfoSql"/>
        FROM t_jc_pantone
        WHERE pantone_id =#{pantoneId}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
		SELECT COUNT(*) FROM
		t_jc_pantone where del_flag=0
	</select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_jc_pantone where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            color_no like concat('%',#{searchValue},'%') or
            en_name like concat('%',#{searchValue},'%') or
            zh_name like concat('%',#{searchValue},'%') or
            page_no like concat('%',#{searchValue},'%') or
            code_color like concat('%',#{searchValue},'%') or
            rgb like concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="PantoneInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_jc_pantone
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            color_no like concat('%',#{searchValue},'%') or
            en_name like concat('%',#{searchValue},'%') or
            zh_name like concat('%',#{searchValue},'%') or
            page_no like concat('%',#{searchValue},'%') or
            code_color like concat('%',#{searchValue},'%') or
            rgb like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
		update t_jc_pantone 	set
		color_no=#{colorNo},
		en_name=#{enName},
		zh_name=#{zhName},
		page_no=#{pageNo},
		code_color=#{codeColor},
		rgb=#{rgb},
		remark=#{remark}
		WHERE pantone_id =#{pantoneId}
	</update>

    <insert id="add">
		insert into
		t_jc_pantone (pantone_id,color_no,kind,en_name,zh_name,page_no,code_color,rgb,remark)
		values (#{pantoneId},#{colorNo},#{kind},#{enName},#{zhName},#{pageNo},#{codeColor},#{rgb},#{remark})
	</insert>

    <update id="del">
		update t_jc_pantone
		set  del_flag=1
		where pantone_id =#{pantoneId}
	</update>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        select
        pantone_id AS natrualkey,
        ifnull(zh_name,en_name) AS name
        from t_jc_pantone
        where del_flag=0
        <if test="name!=null and name != ''">
            and (zh_name like concat('%',#{name},'%')
            or en_name like concat('%',#{name},'%')
            or pantone_id like concat('%',#{name},'%')
            )
        </if>
    </select>


</mapper>