<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.core.mapper.LogInfoMapper">
    <sql id="searchInfoSql">
        id          AS id,
        log_id     	AS natrualkey,
        method     	AS method,
        description	AS description,
        type       	AS type,
        req_ip     	AS requestIp,
        exp_code   	AS exceptionCode,
        exp_detail 	AS exceptionDetail,
        params     	AS params,
        user_name  	AS createBy,
        update_time	AS updateTime,
        del_flag   	AS delFlag,
        remark     	AS remark
    </sql>
    <select id="queryInfo" resultType="LogInfo">
        select
        <include refid="searchInfoSql"/>
        FROM t_sys_log
        WHERE customer_id =#{natrualkey}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        t_sys_log
        where
        del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        t_sys_log
        where
        del_flag=0 AND TYPE =#{type}
        <if test="searchValue !=null and searchValue != ''">
            and (
            user_name like concat('%',#{searchValue},'%') or
            method like concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="LogInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM
        t_sys_log
        where
        del_flag=0 AND TYPE =#{type}
        <if test="searchValue !=null and searchValue != ''">
            and (
            user_name like concat('%',#{searchValue},'%') or
            method like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <insert id="add">
        insert into
        t_sys_log (log_id,method,description,type,req_ip,exp_code,exp_detail,params,user_name,remark)
        values (#{natrualkey},#{method},#{description},#{type},#{requestIp},#{exceptionCode},#{exceptionDetail},#{params},#{createBy},#{remark})
    </insert>

</mapper>