<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.info.AccessoriesMapper">

    <sql id="searchInfoSql">
        id AS id,
        accessories_id AS natrualkey,
        accessories_name AS name,
        accessories_name AS accessoriesName,
        material_type_id AS materialTypeId,
        classic_id AS classicId,
        sp_id AS spId,
        year_code AS yearCode,
        product_type_id AS productTypeId,
        serial_number AS serialNumber,
        pantone_id AS pantoneId,
        position_id AS positionId,
        project_id AS projectId,
        bom_id AS bomId,
        tech_required AS techRequired,
        length AS length,
        width AS width ,
        del_flag AS delFlag,
        update_time AS updateTime,
        remark AS remark
    </sql>

    <select id="queryInfo" resultType="AccessoriesInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_kf_accessories
        WHERE accessories_id =#{natrualkey}
        limit 1
    </select>


    <select id="listInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM   t_kf_accessories where del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_kf_accessories where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            AND (
            accessories_name LIKE concat('%',#{searchValue},'%') or
            sp_id LIKE concat('%',#{searchValue},'%') or
            remark LIKE concat('%',#{searchValue},'%')
            )
        </if>
    </select>


    <select id="searchInfos" resultType="AccessoriesInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_kf_accessories
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            AND (
            accessories_name LIKE concat('%',#{searchValue},'%') or
            sp_id LIKE concat('%',#{searchValue},'%') or
            remark LIKE concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}
    </select>

    <update id="updateInfo">
        UPDATE
            t_kf_accessories
        SET
            accessories_name = #{accessoriesName},
            material_type_id = #{materialTypeId},
            classic_id = #{classicId},
            sp_id = #{spId},
            year_code = #{yearCode},
            product_type_id = #{productTypeId},
            serial_number = #{serialNumber},
            pantone_id = #{pantoneId},
            position_id = #{positionId},
            project_id = #{projectId},
            bom_id = #{bomId},
            tech_required  = #{techRequired},
            length  = #{length},
            width  = #{width} ,
            del_flag  = #{delFlag}
        WHERE
            accessories_id =#{accessoriesId}
    </update>




    <insert id="add">
        INSERT INTO  t_kf_accessories (accessories_id,accessories_name,material_type_id,classic_id,sp_id,year_code,product_type_id,serial_number,pantone_id,position_id,project_id,bom_id,remark,name_num,tech_required,length,width)
        VALUES (#{natrualkey},#{name},#{materialTypeId},#{classicId},#{spId},#{yearCode},#{productTypeId},#{serialNumber},#{pantoneId},#{positionId},#{projectId},#{bomId},#{remark},#{nameNum},#{techRequired},#{length},#{width})
    </insert>




    <update id="del">
        UPDATE t_kf_accessories
        SET  del_flag=1
        WHERE accessories_id =#{natrualkey}
    </update>


    <select id="selectAllAccessoriesId" resultType="String">
      SELECT accessories_id
      FROM t_kf_accessories a
      WHERE a.bom_id = #{natrualkey}
      AND   del_flag=0
    </select>


    <delete id="deleteAccessoriesByIds" parameterType="String">
        DELETE FROM t_kf_accessories
        WHERE accessories_id IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>




    <select id="queryCurrentSeqNo" resultType="String">
        select case when  accessories_id is NULL then 0 else accessories_id end from t_kf_accessories   ORDER BY id DESC LIMIT 1
    </select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        select
            accessories_id AS natrualkey,
            accessories_name AS name
        from t_kf_accessories
        where del_flag=0
        <if test="name!=null and name!=''">
            and upper(fabricsName) like concat('%',#{factoryName},'%')
        </if>
    </select>

    <resultMap id="infosMap" type="AccessoriesInfo">
        <result column="accessoriesId" property="accessoriesId"/>
        <result column="accessoriesName" property="accessoriesName"/>
        <result column="materialTypeId" property="materialTypeId"/>
        <result column="classicId" property="classicId"/>
        <result column="spId" property="spId"/>
        <result column="yearCode" property="yearCode"/>
        <result column="productTypeId" property="productTypeId"/>
        <result column="serialNumber" property="serialNumber"/>
        <result column="pantoneId" property="pantoneId"/>
        <result column="delFlag" property="delFlag"/>
        <result column="updateTime" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="techRequired" property="techRequired"/>
        <result column="length" property="length"/>
        <result column="width" property="width"/>
        <result column="positionId" property="positionId"/>
        <result column="projectId" property="projectId"/>
        <result column="bomId" property="bomId"/>
        <result column="unitId" property="unitId"/>
        <result column="unitAmount" property="unitAmount"/>
        <result column="attritionRate" property="attritionRate"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="colorPrice" property="colorPrice"/>
        <result column="colorAmount" property="colorAmount"/>
        <result column="bomName" property="bomName"/>
        <collection property="positionIds" column="{materialId=accessoriesId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPositionMapper.queryIds"/>
        <collection property="pantoneIds" column="{materialId=accessoriesId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
    </resultMap>

    <select id="queryAccessoriesList" resultMap="infosMap">
        SELECT
            a.accessories_id AS accessoriesId,
            a.accessories_name AS accessoriesName,
            a.material_type_id AS materialTypeId,
            a.classic_id AS classicId,
            a.sp_id AS spId,
            a.year_code AS yearCode,
            a.product_type_id AS productTypeId,
            a.serial_number AS serialNumber,
            a.pantone_id AS pantoneId,
            a.del_flag AS delFlag,
            a.remark AS remark,
            a.tech_required AS techRequired,
            a.length AS length,
            a.width AS width,
            a.update_time AS updateTime,
            a.position_id AS positionId,
            a.project_id AS projectId,
            a.bom_id AS bomId,
            b.unit_id AS unitId,
            b.unit_amount AS unitAmount,
            c.attrition_rate AS attritionRate,
            c.unit_price AS unitPrice,
            c.total_amount AS totalAmount,
            c.total_price AS totalPrice,
            c.color_price AS colorPrice,
            c.color_amount AS colorAmount,
            e.bom_name AS bomName,
            e.offer_amount AS orderCount
        FROM
            t_kf_accessories a
        INNER  JOIN  t_kf_bom_material k ON   a.accessories_id = k.material_id AND k.bom_id = #{natrualkey} and a.del_flag=0
        INNER JOIN t_kf_bominfo e on k.bom_id = e.bom_id AND e.del_flag=0
        LEFT JOIN t_kf_material_unit_dosage b ON a.accessories_id = b.material_id
        LEFT JOIN t_kf_material_spinfo c ON a.accessories_id = c.material_id
        order by a.name_num ASC
    </select>



    <resultMap id="infosMap2" type="AccessoriesInfo">
        <result column="accessoriesId" property="accessoriesId"/>
        <result column="accessoriesName" property="accessoriesName"/>
        <result column="bomName" property="bomName"/>
        <result column="spId" property="spId"/>
        <result column="productTypeId" property="productTypeId"/>
        <result column="pantoneId" property="pantoneId"/>
        <result column="unitId" property="unitId"/>
        <result column="unitAmount" property="unitAmount"/>
        <result column="orderCount" property="orderCount"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="classicId" property="classicId"/>
        <result column="techRequired" property="techRequired"/>
        <result column="length" property="length"/>
        <result column="width" property="width"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="colorPrice" property="colorPrice"/>
        <result column="colorAmount" property="colorAmount"/>
        <collection property="positionIds" column="{materialId=accessoriesId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPositionMapper.queryIds"/>
        <collection property="pantoneIds" column="{materialId=accessoriesId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
    </resultMap>

    <select id="queryAllAccessoriesByBomId"  resultMap="infosMap2">
          SELECT
            a.accessories_id AS accessoriesId,
            a.accessories_name AS accessoriesName,
            a.classic_id AS classicId ,
            a.tech_required AS techRequired,
            a.length AS length,
            a.width  AS width,
            a.sp_id AS spId,
            a.product_type_id AS productTypeId,
            a.pantone_id AS pantoneId,
            e.bom_name AS bomName,
            e.offer_amount AS orderCount,
            c.unit_id AS unitId,
            c.unit_amount AS unitAmount,
            d.color_price AS colorPrice,
            d.color_amount AS colorAmount,
            d.total_amount AS totalAmount,
            d.unit_price AS unitPrice,
            d.total_price AS totalPrice
        FROM
              t_kf_accessories a
            INNER  JOIN  t_kf_bom_material k ON   a.accessories_id = k.material_id AND k.bom_id = #{bomId} AND a.del_flag=0
            INNER JOIN t_kf_bominfo e on k.bom_id = e.bom_id AND e.del_flag=0
            LEFT JOIN  t_kf_material_unit_dosage c ON  c.material_id = k.material_id
            LEFT JOIN t_kf_material_spinfo d ON d.material_id = k.material_id
    </select>

</mapper>