<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.info.BomInfoManageMapper">
    <sql id="searchInfoSql">
		a.id AS id,
		a.project_id AS projectId,
		a.bom_id AS natrualkey,
		a.bom_name AS name,
		a.customer_id AS customerId,
		a.area_id AS areaId,
		a.sex_id AS sexId,
		a.series_id AS seriesId,
		a.collectionNum AS collectionNum,
		a.main_color AS mainColor,
		a.main_color AS mainColorOld,
		a.fabrics_end_date AS fabricsEndDate,
		a.accessories_end_date AS accessoriesEndDate,
		a.preoffer_date AS preOfferDate,
		a.cloth_received_date AS clothReceivedDate,
		a.offer_amount AS offerAmount,
		a.del_flag AS delFlag,
		a.update_time AS updateTime,
		a.remark AS remark,
		a.approve_status AS approveStatus
	</sql>
    <sql id="searchInfoSql2">
        a.id AS id,
        a.project_id AS projectId,
        a.bom_id AS natrualkey,
        a.bom_name AS name,
        a.customer_id AS customerId,
        a.area_id AS areaId,
        a.sex_id AS sexId,
        a.series_id AS seriesId,
        a.collectionNum AS collectionNum,
        a.main_color AS mainColor,
        a.main_color AS mainColorOld,
        a.fabrics_end_date AS fabricsEndDate,
        a.accessories_end_date AS accessoriesEndDate,
        a.preoffer_date AS preOfferDate,
        a.cloth_received_date AS clothReceivedDate,
        a.offer_amount AS offerAmount,
        a.del_flag AS delFlag,
        a.update_time AS updateTime,
        a.remark AS remark,
        b.project_name AS projectName,
		a.approve_status AS approveStatus

    </sql>

    <sql id="searchInfoSql3">
        a.id AS id,
        a.project_id AS projectId,
        a.bom_id AS natrualkey,
        a.bom_name AS name,
        a.customer_id AS customerId,
        a.area_id AS areaId,
        a.sex_id AS sexId,
        a.series_id AS seriesId,
        a.collectionNum AS collectionNum,
        a.main_color AS mainColor,
        a.main_color AS mainColorOld,
        a.fabrics_end_date AS fabricsEndDate,
        a.accessories_end_date AS accessoriesEndDate,
        a.preoffer_date AS preOfferDate,
        a.cloth_received_date AS clothReceivedDate,
        a.offer_amount AS offerAmount,
        a.del_flag AS delFlag,
        a.update_time AS updateTime,
        a.remark AS remark,
        b.series_name AS seriesName,
		a.approve_status AS approveStatus
    </sql>


    <select id="queryInfo" resultType="BomInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_kf_bominfo a
        WHERE a.bom_id =#{natrualkey}
        limit 1
    </select>


    <select id="listInfosCounts" resultType="Integer">
		SELECT COUNT(*)  FROM t_kf_bominfo a,t_kf_project_item b,t_kf_project_item_bom c
        WHERE a.del_flag=0 AND c.project_id=b.project_id AND a.bom_id = c.bom_id AND b.del_flag=0
	</select>



    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_kf_bominfo a,t_kf_project_item b,t_kf_project_item_bom c
        WHERE a.del_flag=0 AND c.project_id=b.project_id AND a.bom_id = c.bom_id AND b.del_flag=0
        <if test="bomInfo.projectId !=null and bomInfo.projectId != ''">
            AND a.project_id LIKE concat('%',#{bomInfo.projectId},'%')
        </if>
        <if test="dataTablesInfo.searchValue !=null and dataTablesInfo.searchValue != ''">
            AND (
            a.bom_name LIKE concat('%',#{dataTablesInfo.searchValue},'%') or
            b.project_name LIKE concat('%',#{dataTablesInfo.searchValue},'%') or
            a.remark LIKE concat('%',#{dataTablesInfo.searchValue},'%') or
            b.remark LIKE concat('%',#{dataTablesInfo.searchValue},'%')
            )
        </if>
    </select>




    <select id="searchInfos" resultType="BomInfo">
        SELECT
        <include refid="searchInfoSql2"/>
        FROM t_kf_bominfo a,t_kf_project_item b,t_kf_project_item_bom c
        WHERE a.del_flag=0 AND c.project_id=b.project_id AND a.bom_id = c.bom_id AND b.del_flag=0
        <if test="bomInfo.projectId !=null and bomInfo.projectId != ''">
            AND a.project_id LIKE concat('%',#{bomInfo.projectId},'%')
        </if>
        <if test="dataTablesInfo.searchValue !=null and dataTablesInfo.searchValue != ''">
            AND (
            a.bom_name LIKE concat('%',#{dataTablesInfo.searchValue},'%') OR
            b.project_name LIKE concat('%',#{dataTablesInfo.searchValue},'%') OR
            a.remark LIKE concat('%',#{dataTablesInfo.searchValue},'%') OR
            b.remark LIKE concat('%',#{dataTablesInfo.searchValue},'%')
            )
        </if>
        <if test="dataTablesInfo.orderColumn!=null and dataTablesInfo.orderColumn != ''">
            ORDER BY ${dataTablesInfo.orderColumn} ${dataTablesInfo.orderDir}
        </if>
        limit #{dataTablesInfo.start} ,#{dataTablesInfo.length}

    </select>

    <update id="updateInfo">
		UPDATE
			t_kf_bominfo
		SET
		    <if test="mainColor!=null and mainColor!=''">
                main_color=#{mainColor},
            </if>
			fabrics_end_date =#{fabricsEndDate},
			accessories_end_date =#{accessoriesEndDate},
			preoffer_date =#{preOfferDate},
			cloth_received_date =#{clothReceivedDate},
			offer_amount =#{offerAmount},
			remark=#{remark}
		WHERE
			bom_id =#{natrualkey}
	</update>

    <insert id="addBatch" parameterType="list">
        INSERT INTO
        t_kf_bominfo
        (bom_id,bom_name,customer_id,area_id,sex_id,series_id,collectionNum,main_color,fabrics_end_date,accessories_end_date,preoffer_date,cloth_received_date,offer_amount)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.natrualkey},#{item.name},#{item.customerId},#{item.areaId},#{item.sexId},#{item.seriesId},#{item.collectionNum},#{item.mainColor},#{item.fabricsEndDate},#{item.accessoriesEndDate},#{item.preOfferDate},#{item.clothReceivedDate},#{item.offerAmount})
        </foreach>
    </insert>

    <insert id="add">
		INSERT INTO
		    t_kf_bominfo (bom_id,bom_name,customer_id,area_id,sex_id,series_id,collectionNum,main_color,fabrics_end_date,accessories_end_date,preoffer_date,cloth_received_date,offer_amount)
		VALUES (#{natrualkey},#{name},#{customerId},#{areaId},#{sexId},#{seriesId},#{collectionNum},#{mainColor},#{fabricsEndDate},#{accessoriesEndDate},#{preOfferDate},#{clothReceivedDate},#{offerAmount})
	</insert>

    <select id="selectAllBomSexAndMainColor" resultType="BomInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM
        t_kf_bominfo a,t_kf_project_item_bom b
        WHERE a.bom_id= b.bom_id and b.project_id= #{projectId} AND a.del_flag =0
    </select>

    <update id="del">
		UPDATE t_kf_bominfo
		SET  del_flag=1
		WHERE bom_id =#{natrualkey}
	</update>


    <update id="delDetail">
		UPDATE t_kf_fabrics_detail
		SET  del_flag=1
		WHERE bom_id =#{natrualkey}
	</update>

    <update id="delDosage">
		UPDATE t_kf_material_unit_dosage
		SET  del_flag=1
		WHERE material_id =#{natrualkey}
	</update>

    <update id="delSp">
		UPDATE t_kf_material_spinfo
		SET  del_flag=1
		WHERE material_id =#{natrualkey}
	</update>


    <select id="queryCurrentSeqNo" resultType="String">
		SELECT CASE WHEN  bom_id IS NULL THEN 0 ELSE bom_id END FROM t_kf_bominfo   ORDER BY id DESC LIMIT 1
	</select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
		SELECT
			bom_id AS natrualkey,
			bom_name AS name
		FROM t_kf_bominfo
		WHERE del_flag=0 AND bom_name LIKE concat('%',#{name},'%')
	</select>


    <delete id="delByProjectId">
		UPDATE t_kf_bominfo
		SET  del_flag=1
		WHERE project_id =#{projectId}
	</delete>

    <select id="queryBomInfosByProjectItemIds" resultType="BomInfo">
        SELECT
        <include refid="searchInfoSql3"/>
        FROM t_kf_bominfo a,t_jc_series b
        WHERE a.del_flag=0 AND a.series_id=b.series_id AND b.del_flag=0 AND project_id IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </select>

    <select id="queryBomIds" resultType="String">
        SELECT
        bom_id AS bomId
        FROM t_kf_bominfo
        WHERE del_flag=0 AND project_id IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </select>


    <delete id="delBomNotInThisIds">
        UPDATE t_kf_bominfo SET del_flag =1
        WHERE bom_id NOT IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.natrualkey}
        </foreach>
    </delete>

    <delete id="delBomInThisIds">
        UPDATE t_kf_bominfo SET del_flag =1
        WHERE bom_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.natrualkey}
        </foreach>
    </delete>

</mapper>