<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.info.FabricsMapper">
    <sql id="searchInfoSql">
        id AS id,
        fabrics_no AS fabricNo,
        fabrics_id AS natrualkey,
        fabrics_id AS fabricId,
        fabrics_name AS name,
        fabrics_name AS fabricName,
        material_type_id AS materialTypeId,
        classic_id AS classicId,
        sp_id AS spId,
        year_code AS yearCode,
        product_type_id AS productTypeId,
        serial_number AS serialNumber,
        pantone_id AS pantoneId,
        position_id AS positionId,
        project_id AS projectId,
        bom_id AS bomId,
        del_flag AS delFlag,
        update_time AS updateTime,
        remark AS remark
    </sql>



    <select id="queryInfo" resultType="FabricsInfo">
        select
          <include refid="searchInfoSql"/>
        FROM t_kf_fabrics
        WHERE fabrics_id =#{natrualkey}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM   t_kf_fabrics where del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_kf_fabrics where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            fabrics_name like concat('%',#{searchValue},'%') or
            sp_id like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>
    </select>

    <select id="searchInfos" resultType="FabricsInfo">
        SELECT
          <include refid="searchInfoSql"/>
        FROM t_kf_fabrics
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            fabrics_name like concat('%',#{searchValue},'%') or
            sp_id like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
        update
            t_kf_fabrics
        set
            fabrics_no = #{fabricNo},
            fabrics_name  = #{fabricName},
            material_type_id = #{materialTypeId},
            classic_id = #{classicId},
            sp_id = #{spId},
            year_code = #{yearCode},
            product_type_id = #{productTypeId},
            serial_number = #{serialNumber},
            pantone_id = #{pantoneId},
            position_id = #{positionId},
            project_id = #{projectId},
            bom_id = #{bomId},
            is_show = #{isShow},
            composite_classic_id = #{compositeClassicId},
            composite_product_type_id = #{compositeProductTypeId},
            composite_pantone_id = #{compositePantoneId},
            position_id_bl = #{positionIdBl}
        WHERE
            fabrics_id =#{fabricId}
    </update>


    <update id="updateDetail">
       	update
			t_kf_fabrics_detail
        set
			specfication_id = #{specificationId},
			dye_id = #{dyeId},
			water_repllent_id = #{waterRepllentId},
			blc_id = #{blcId},
			momc_id = #{momcId},
			comoc_id = #{comocId},
			wvp_id = #{wvpId},
			mt_id = #{mtId},
			woblc_id = #{woblcId},
			composite_specfication_id = #{compositeSpecificationId},
			composite_dye_id = #{compositeDyeId},
            composite_water_repllent_id = #{compositeWaterRepllentId},
			composite_wvp_id = #{compositeWvpId},
			water_proof_id = #{waterProofId},
			permeability_id = #{permeabilityId},
			ultraviolet_protection_id = #{ultravioletProtectionId},
			quick_dry_id = #{quickDryId},
			oil_proof_id = #{oilProofId},
			ant_mosquitos_id = #{antMosquitosId},
			composite_water_proof_id = #{compositeWaterProofId},
			composite_permeability_id = #{compositePermeabilityId},
			waterpressure_id = #{waterpressureId},
			composite_waterpressure_id = #{compositeWaterpressureId},
			composite_ultraviolet_protection_id = #{compositeUltravioletProtectionId},
			composite_quick_dry_id = #{compositeQuickDryId},
			composite_oil_proof_id = #{compositeOilProofId},
			composite_ant_mosquitos_id = #{compositeAntMosquitosId}
        WHERE
			fabrics_id =#{fabricId}
    </update>


    <insert id="add">
        insert into  t_kf_fabrics (fabrics_id,fabrics_no,fabrics_name,material_type_id,classic_id,sp_id,year_code,product_type_id,serial_number,pantone_id,position_id,project_id,bom_id,remark,name_num,is_show,composite_classic_id,composite_product_type_id,composite_pantone_id,position_id_bl)
        values (#{natrualkey},#{fabricNo},#{fabricName},#{materialTypeId},#{classicId},#{spId},#{yearCode},#{productTypeId},#{serialNumber},#{pantoneId},#{positionId},#{projectId},#{bomId},#{remark},#{nameNum},#{isShow},#{compositeClassicId},#{compositeProductTypeId},#{compositePantoneId},#{positionIdBl})
    </insert>

    <insert id="addDetail">
      insert into t_kf_fabrics_detail(fabrics_id,specfication_id,dye_id,water_repllent_id,blc_id,momc_id,comoc_id,wvp_id,mt_id,woblc_id,composite_specfication_id,composite_dye_id,composite_water_repllent_id,composite_wvp_id,water_proof_id,permeability_id,ultraviolet_protection_id,quick_dry_id,oil_proof_id,ant_mosquitos_id,composite_water_proof_id,composite_permeability_id,composite_waterpressure_id,composite_quick_dry_id,composite_oil_proof_id,composite_ant_mosquitos_id,waterpressure_id,composite_ultraviolet_protection_id)
      values (#{fabricId},#{specificationId},#{dyeId},#{waterRepllentId},#{blcId},#{momcId},#{comocId},#{wvpId},#{mtId},#{woblcId},#{compositeSpecificationId},#{compositeDyeId},#{compositeWaterRepllentId},#{compositeWvpId},#{waterProofId},#{permeabilityId},#{ultravioletProtectionId},#{quickDryId},#{oilProofId},#{antMosquitosId},#{compositeWaterProofId},#{compositePermeabilityId},#{compositeWaterpressureId},#{compositeQuickDryId},#{compositeOilProofId},#{compositeAntMosquitosId}, #{waterpressureId},#{compositeUltravioletProtectionId});
    </insert>

    <update id="del">
        update t_kf_fabrics
        set  del_flag=1
        where fabrics_id =#{natrualkey}
    </update>

    <select id="selectAllFabricId" resultType="String">
      SELECT fabrics_id
      FROM t_kf_fabrics a
      WHERE a.bom_id = #{natrualkey}
    </select>

    <delete id="deleteFabircsByIds" parameterType="String">
        DELETE from t_kf_fabrics
        where fabrics_id IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <update id="delDetail">
        update t_kf_fabrics_detail
        set  del_flag=1
        where fabrics_id =#{natrualkey}
    </update>

    <select id="queryCurrentSeqNo" resultType="String">
        select case when  fabrics_id is NULL then 0 else fabrics_id end from t_kf_fabrics    ORDER BY id DESC LIMIT 1
    </select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        select
            fabrics_id AS natrualkey,
            fabrics_name AS name
        from t_kf_fabrics
        where del_flag=0
        <if test="name!=null and name!=''">
            and upper(fabricName) like concat('%',#{factoryName},'%')
        </if>
    </select>

    <resultMap id="infosMap" type="FabricsInfo">
        <result column="fabricId" property="fabricId"/>
        <result column="fabricNo" property="fabricNo"/>
        <result column="fabricName" property="fabricName"/>
        <result column="materialTypeId" property="materialTypeId"/>
        <result column="classicId" property="classicId"/>
        <result column="spId" property="spId"/>
        <result column="yearCode" property="yearCode"/>
        <result column="productTypeId" property="productTypeId"/>
        <result column="serialNumber" property="serialNumber"/>
        <result column="pantoneId" property="pantoneId"/>
        <result column="positionId" property="positionId"/>
        <result column="projectId" property="projectId"/>
        <result column="bomId" property="bomId"/>

        <result column="isShow" property="isShow"/>
        <result column="compositeClassicId" property="compositeClassicId"/>
        <result column="compositeProductTypeId" property="compositeProductTypeId"/>
        <result column="compositePantoneId" property="compositePantoneId"/>
        <result column="unitId" property="unitId"/>
        <result column="unitAmount" property="unitAmount"/>
        <result column="spId" property="spId"/>
        <result column="orderCount" property="orderCount"/>
        <result column="attritionRate" property="attritionRate"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="positionIdBl" property="positionIdBl"/>

        <result column="dyeId" property="dyeId"/>
        <result column="waterRepllentId" property="waterRepllentId"/>
        <result column="blcId" property="blcId"/>
        <result column="momcId" property="momcId"/>
        <result column="comocId" property="comocId"/>
        <result column="wvpId" property="wvpId"/>
        <result column="mtId" property="mtId"/>
        <result column="woblcId" property="woblcId"/>
        <result column="specificationId" property="specificationId"/>
        <result column="compositeSpecificationId" property="compositeSpecificationId"/>
        <result column="compositeDyeId" property="compositeDyeId"/>
        <result column="compositeWaterRepllentId" property="compositeWaterRepllentId"/>
        <result column="compositeWvpId" property="compositeWvpId"/>
        <result column="waterProofId" property="waterProofId"/>
        <result column="permeabilityId" property="permeabilityId"/>
        <result column="ultravioletProtectionId" property="ultravioletProtectionId"/>
        <result column="quickDryId" property="quickDryId"/>
        <result column="oilProofId" property="oilProofId"/>
        <result column="antMosquitosId" property="antMosquitosId"/>
        <result column="compositeWaterProofId" property="compositeWaterProofId"/>
        <result column="compositePermeabilityId" property="compositePermeabilityId"/>
        <result column="compositeWaterpressureId" property="compositeWaterpressureId"/>
        <result column="compositeQuickDryId" property="compositeQuickDryId"/>
        <result column="compositeOilProofId" property="compositeOilProofId"/>
        <result column="compositeAntMosquitosId" property="compositeAntMosquitosId"/>

        <result column="compositeUltravioletProtectionId" property="compositeUltravioletProtectionId"/>
        <result column="waterpressureId" property="waterpressureId"/>

        <result column="colorPrice" property="colorPrice"/>
        <result column="colorAmount" property="colorAmount"/>
        <result column="delFlag" property="delFlag"/>
        <result column="updateTime" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="type" property="type" />
        <collection property="positionIds" column="{materialId=fabricId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPositionMapper.queryIds"/>
        <collection property="pantoneIds" column="{materialId=fabricId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
        <collection property="compositePantoneIds" column="{materialId=fabricId,type=type}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
    </resultMap>


    <select id="queryFabricList" resultMap="infosMap">
              SELECT
                a.fabrics_id AS fabricId,
                a.fabrics_no AS fabricNo,
                a.fabrics_name AS fabricName,
                a.material_type_id AS materialTypeId,
                a.classic_id AS classicId,
                a.sp_id AS spId,
                a.year_code AS yearCode,
                a.product_type_id AS productTypeId,
                a.serial_number AS serialNumber,
                a.pantone_id AS pantoneId,
                a.del_flag AS delFlag,
                a.remark AS remark,
                a.update_time AS updateTime,
                a.position_id AS positionId,
                a.project_id AS projectId,
                a.bom_id AS bomId,
                a.is_show AS isShow,
                a.composite_classic_id AS compositeClassicId,
                a.composite_product_type_id AS compositeProductTypeId,
                a.composite_pantone_id AS compositePantoneId,
                b.unit_id AS unitId,
                b.unit_amount AS unitAmount,
                c.sp_id AS spId,
                c.attrition_rate AS attritionRate,
                c.unit_price AS unitPrice,
                c.color_price AS colorPrice,
                c.color_amount AS colorAmount,
                c.total_amount AS totalAmount,
                c.total_price AS totalPrice,
                d.dye_id AS dyeId,
                d.water_repllent_id AS waterRepllentId,
                d.blc_id AS blcId,
                d.momc_id AS momcId,
                d.comoc_id AS comocId,
                d.wvp_id AS wvpId,
                d.mt_id AS mtId,
                d.woblc_id AS woblcId,
                d.specfication_id AS specificationId,
                d.composite_specfication_id AS compositeSpecificationId,
                d.composite_dye_id AS compositeDyeId,
                d.composite_water_repllent_id AS compositeWaterRepllentId,
                d.composite_wvp_id AS compositeWvpId,
			    d.water_proof_id AS waterProofId,
			    d.permeability_id AS permeabilityId,
			    d.ultraviolet_protection_id AS ultravioletProtectionId,
			    d.quick_dry_id AS quickDryId,
			    d.oil_proof_id AS oilProofId,
			    d.ant_mosquitos_id AS antMosquitosId,
			    d.composite_water_proof_id AS compositeWaterProofId,
			    d.composite_permeability_id AS compositePermeabilityId,
			    d.waterpressure_id AS waterpressureId,
			    d.composite_waterpressure_id AS compositeWaterpressureId,
			    d.composite_ultraviolet_protection_id AS compositeUltravioletProtectionId,
			    d.composite_quick_dry_id AS compositeQuickDryId,
			    d.composite_oil_proof_id AS compositeOilProofId,
			    d.composite_ant_mosquitos_id AS compositeAntMosquitosId,
                e.bom_name AS bomName,
                e.offer_amount AS orderCount,
                '1' AS type,
                a.position_id_bl AS positionIdBl
            FROM t_kf_fabrics a
            INNER  JOIN  t_kf_bom_material k ON   a.fabrics_id = k.material_id AND k.bom_id = #{natrualkey} and a.del_flag=0
            INNER  JOIN t_kf_bominfo e ON k.bom_id = e.bom_id AND e.del_flag=0
            LEFT JOIN t_kf_material_unit_dosage b ON a.fabrics_id = b.material_id
            LEFT JOIN t_kf_material_spinfo c ON a.fabrics_id = c.material_id
            LEFT JOIN t_kf_fabrics_detail d ON a.fabrics_id = d.fabrics_id AND d.del_flag=0
            order by a.name_num ASC
    </select>


    <resultMap id="infosMap2" type="FabricsInfo">
        <result column="fabricNo" property="fabricNo"/>
        <result column="fabricId" property="fabricId"/>
        <result column="fabricName" property="fabricName"/>
        <result column="bomName" property="bomName"/>
        <result column="spId" property="spId"/>
        <result column="bomId" property="bomId"/>
        <result column="productTypeId" property="productTypeId"/>
        <result column="pantoneId" property="pantoneId"/>
        <result column="unitId" property="unitId"/>
        <result column="orderCount" property="orderCount"/>
        <result column="unitAmount" property="unitAmount"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="classicId" property="classicId"/>
        <result column="productTypeId" property="productTypeId"/>
        <result column="specificationId" property="specificationId"/>
        <result column="dyeId" property="dyeId"/>
        <result column="waterRepllentId" property="waterRepllentId"/>
        <result column="blcId" property="blcId"/>
        <result column="compositeClassicId" property="compositeClassicId"/>
        <result column="compositePantoneId" property="compositePantoneId"/>
        <result column="compositeProductTypeId" property="compositeProductTypeId"/>
        <result column="compositeSpecificationId" property="compositeSpecificationId"/>
        <result column="compositeDyeId" property="compositeDyeId"/>
        <result column="compositeWaterRepllentId" property="compositeWaterRepllentId"/>
        <result column="compositeWvpId" property="compositeWvpId"/>
        <result column="waterProofId" property="waterProofId"/>
        <result column="permeabilityId" property="permeabilityId"/>
        <result column="ultravioletProtectionId" property="ultravioletProtectionId"/>
        <result column="quickDryId" property="quickDryId"/>
        <result column="oilProofId" property="oilProofId"/>
        <result column="antMosquitosId" property="antMosquitosId"/>
        <result column="compositeWaterProofId" property="compositeWaterProofId"/>
        <result column="compositePermeabilityId" property="compositePermeabilityId"/>
        <result column="compositeWaterpressureId" property="compositeWaterpressureId"/>
        <result column="compositeQuickDryId" property="compositeQuickDryId"/>
        <result column="compositeOilProofId" property="compositeOilProofId"/>
        <result column="compositeAntMosquitosId" property="compositeAntMosquitosId"/>
        <result column="compositeUltravioletProtectionId" property="compositeUltravioletProtectionId"/>
        <result column="waterpressureId" property="waterpressureId"/>
        <result column="positionIdBl" property="positionIdBl"/>
        <result column="momcId" property="momcId"/>
        <result column="comocId" property="comocId"/>
        <result column="wvpId" property="wvpId"/>
        <result column="mtId" property="mtId"/>
        <result column="woblcId" property="woblcId"/>
        <result column="isShow" property="isShow"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="colorPrice" property="colorPrice"/>
        <result column="colorAmount" property="colorAmount"/>
        <result column="type" property="type"/>
        <collection property="positionIds" column="{materialId=fabricId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPositionMapper.queryIds"/>
        <collection property="pantoneIds" column="{materialId=fabricId}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
        <collection property="compositePantoneIds" column="{materialId=fabricId,type=type}" select="com.skysport.interfaces.mapper.develop.KFMaterialPantoneMapper.queryIds"/>
    </resultMap>

    <select id="queryAllFabricByBomId"  resultMap="infosMap2">
           SELECT
                a.fabrics_id AS fabricId,
                a.fabrics_no AS fabricNo,
                a.fabrics_name AS fabricName,
                a.composite_classic_id AS compositeClassicId,
                a.composite_pantone_id AS compositePantoneId,
                a.composite_product_type_id AS compositeProductTypeId,
                a.is_show AS isShow,
                a.classic_id AS classicId,
                a.product_type_id AS productTypeId,
                a.sp_id AS spId,
                a.bom_id AS bomId,
                a.product_type_id AS productTypeId,
                a.pantone_id AS pantoneId,
                b.specfication_id AS specificationId,
                b.dye_id AS dyeId,
                b.water_repllent_id AS waterRepllentId,
                b.blc_id AS blcId,
                b.composite_specfication_id AS compositeSpecificationId,
                b.composite_dye_id AS compositeDyeId,
                b.composite_water_repllent_id AS compositeWaterRepllentId,
			    b.composite_wvp_id AS compositeWvpId,
			    b.water_proof_id AS waterProofId,
			    b.permeability_id AS permeabilityId,
			    b.ultraviolet_protection_id AS ultravioletProtectionId,
			    b.quick_dry_id AS quickDryId,
			    b.oil_proof_id AS oilProofId,
			    b.ant_mosquitos_id AS antMosquitosId,
			    b.composite_water_proof_id AS compositeWaterProofId,
			    b.composite_permeability_id AS compositePermeabilityId,
			    b.waterpressure_id AS waterpressureId,
			    b.composite_waterpressure_id AS compositeWaterpressureId,
			    b.composite_ultraviolet_protection_id AS compositeUltravioletProtectionId,
			    b.composite_quick_dry_id AS compositeQuickDryId,
			    b.composite_oil_proof_id AS compositeOilProofId,
			    b.composite_ant_mosquitos_id AS compositeAntMosquitosId,
                b.momc_id AS momcId,
                b.comoc_id AS comocId,
                b.wvp_id AS wvpId,
                b.mt_id AS mtId,
                b.woblc_id AS woblcId,
                c.unit_id AS unitId,
                c.unit_amount AS unitAmount,
                d.total_amount AS totalAmount,
                d.unit_price AS unitPrice,
                d.total_price AS totalPrice,
                d.color_price AS colorPrice,
                d.color_amount AS colorAmount,
                e.bom_name AS bomName,
                e.offer_amount AS orderCount,
                '1' AS type,
                a.position_id_bl AS positionIdBl
            FROM t_kf_fabrics a
            INNER JOIN t_kf_bom_material k ON a.fabrics_id = k.material_id AND k.bom_id = #{bomId} AND a.del_flag=0
            INNER JOIN t_kf_bominfo e ON k.bom_id = e.bom_id AND e.del_flag=0
            INNER JOIN t_kf_fabrics_detail b ON a.fabrics_id = b.fabrics_id AND b.del_flag=0
            LEFT JOIN t_kf_material_unit_dosage c ON b.fabrics_id = c.material_id
            LEFT JOIN t_kf_material_spinfo d ON c.material_id = d.material_id
    </select>


</mapper>