<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.develop.ProductionInstructionMapper">
    <sql id="searchInfoSql">
        a.id							AS 	 id,
        a.uid                 			AS   uid,
        a.uid                 			AS   productionInstructionId,
        b.bom_id              			AS   bomId,
        d.project_name   			    AS   projectItemName,
        c.bom_name            			AS   bomName,
        c.main_color          			AS   colorName,
        c.offer_amount         			AS   offerAmout,
        a.crop_requirements    			AS   cropRequirements,
        a.quality_requirements     		AS   qualityRequirements,
        a.overstitch               		AS   overstitch,
        a.overstitch_space         		AS   overstitchSpace,
        a.blindstitch               	AS   blindstitch,
        a.blindstitch_space          	AS   blindstitchSpace,
        a.overlock                  	AS   overlock,
        a.overlock_space              	AS   overlockSpace,
        a.finish_pressing_requirements	AS   finishPressingRequirements,
        a.spcial_tech                 	AS   spcialTech,
        a.packing_requirements        	AS   packingRequirements,
        a.trademark_code              	AS   trademarkCode,
        a.trademark_remark            	AS   trademarkRemark,
        a.scale_code                  	AS   scaleCode,
        a.scale_remark                	AS   scaleRemark,
        a.rinsing_marks_code          	AS   rinsingMarksCode,
        a.rinsing_marks_remark        	AS   rinsingMarksRemark,
        a.del_flag                      AS   delFlag,
        a.update_time                   AS   updateTime,
        a.remark                        AS   remark,
        a.approve_status                AS   approveStatus
    </sql>


    <select id="queryProductionInstractionInfo" resultType="KfProductionInstructionEntity">
        SELECT
            <include refid="searchInfoSql"/>
        FROM
            t_kf_production_instruction a
        INNER  JOIN   t_kf_bom_material b ON a.uid = b.material_id  AND a.del_flag = 0  AND b.bom_id =  #{uid}
        INNER  JOIN   t_kf_bominfo c ON b.bom_id = c.bom_id AND c.del_flag = 0
        INNER  JOIN   t_kf_project_item_bom f  ON c.bom_id = f.bom_id
        INNER  JOIN   t_kf_project_item d ON f.project_id = d.project_id AND d.del_flag = 0
        limit 1
    </select>


    <insert id="addProductionInstruction">
        insert into
        t_kf_production_instruction(uid,crop_requirements,quality_requirements,overstitch,overstitch_space,blindstitch,blindstitch_space,overlock,overlock_space,finish_pressing_requirements,spcial_tech,packing_requirements,trademark_code,trademark_remark ,scale_code ,scale_remark,rinsing_marks_code,rinsing_marks_remark)
        values(#{uid},#{cropRequirements},#{qualityRequirements},#{overstitch},#{overstitchSpace},#{blindstitch},#{blindstitchSpace},#{overlock},#{overlockSpace},#{finishPressingRequirements},#{spcialTech},#{packingRequirements},#{trademarkCode},#{trademarkRemark},#{scaleCode},#{scaleRemark},#{rinsingMarksCode},#{rinsingMarksRemark})
    </insert>


    <update id="updateProductionInstruction">
        update
        t_kf_production_instruction
        <set>
            <if test="cropRequirements!=null and cropRequirements!=''">
                crop_requirements           = #{cropRequirements},
            </if>
            <if test="qualityRequirements!=null and qualityRequirements!=''">
                quality_requirements           = #{qualityRequirements},
            </if>
            <if test="overstitch!=null and overstitch!=''">
                overstitch           = #{overstitch},
            </if>
            <if test="overstitchSpace!=null and overstitchSpace!=''">
                overstitch_space           = #{overstitchSpace},
            </if>
            <if test="blindstitch!=null and blindstitch!=''">
                blindstitch           = #{blindstitch},
            </if>
            <if test="overlock!=null and overlock!=''">
                overlock           = #{overlock},
            </if>
            <if test="overlockSpace!=null and overlockSpace!=''">
                overlock_space           = #{overlockSpace},
            </if>
            <if test="finishPressingRequirements!=null and finishPressingRequirements!=''">
                finish_pressing_requirements           = #{finishPressingRequirements},
            </if>
            <if test="spcialTech!=null and spcialTech!=''">
                spcial_tech           = #{spcialTech},
            </if>
            <if test="packingRequirements!=null and packingRequirements!=''">
                spcial_tech           = #{packingRequirements},
            </if>
            <if test="packingRequirements!=null and packingRequirements!=''">
                packing_requirements           = #{packingRequirements},
            </if>
            <if test="trademarkCode!=null and trademarkCode!=''">
                trademark_code           = #{trademarkCode},
            </if>
            <if test="trademarkRemark!=null and trademarkRemark!=''">
                trademark_remark           = #{trademarkRemark},
            </if>
            <if test="scaleCode!=null and scaleCode!=''">
                scale_code           = #{scaleCode},
            </if>
            <if test="scaleRemark!=null and scaleRemark!=''">
                scale_remark           = #{scaleRemark},
            </if>
            <if test="rinsingMarksCode!=null and rinsingMarksCode!=''">
                rinsing_marks_code           = #{rinsingMarksCode},
            </if>
            <if test="rinsingMarksRemark!=null and rinsingMarksRemark!=''">
                rinsing_marks_remark           = #{rinsingMarksRemark},
            </if>
        </set>
        WHERE
            uid =#{uid}
    </update>

    <delete id="deleteByIds">
        update t_kf_production_instruction set del_flag=1
        where uid IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <select id="listInfosCounts" resultType="Integer">
        SELECT
        count(*)
        FROM t_kf_production_instruction a
        WHERE a.del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT
        count(*)
        FROM t_kf_production_instruction a
        INNER  JOIN   t_kf_bom_material b ON a.uid = b.material_id  AND a.del_flag = 0
        INNER  JOIN   t_kf_bominfo c ON b.bom_id = c.bom_id AND c.del_flag = 0
        INNER  JOIN   t_kf_project_item_bom f  ON c.bom_id = f.bom_id
        INNER  JOIN   t_kf_project_item d ON f.project_id = d.project_id AND d.del_flag = 0
        INNER  JOIN   t_kf_project_item_project m ON m.project_id = f.project_id
        INNER  JOIN   t_kf_project n ON m.parent_project_id = n.project_id AND n.del_flag = 0
        <if test="dataTablesInfo.searchValue !=null and dataTablesInfo.searchValue != ''">
            and (
            n.project_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            d.project_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            c.bom_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            a.sp_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            a.remark like concat('%',#{dataTablesInfo.searchValue},'%')
            )
        </if>

    </select>


    <select id="searchInfos" resultType="KfProductionInstructionEntity">
        SELECT
            <include refid="searchInfoSql"/>
        FROM t_kf_production_instruction a
        INNER  JOIN   t_kf_bom_material b ON a.uid = b.material_id  AND a.del_flag = 0
        INNER  JOIN   t_kf_bominfo c ON b.bom_id = c.bom_id AND c.del_flag = 0
        INNER  JOIN   t_kf_project_item_bom f  ON c.bom_id = f.bom_id
        INNER  JOIN   t_kf_project_item d ON f.project_id = d.project_id AND d.del_flag = 0
        INNER  JOIN   t_kf_project_item_project m ON m.project_id = f.project_id
        INNER  JOIN   t_kf_project n ON m.parent_project_id = n.project_id AND n.del_flag = 0
        <if test="dataTablesInfo.searchValue !=null and dataTablesInfo.searchValue != ''">
            and (
            n.project_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            d.project_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            c.bom_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            a.sp_name like concat('%',#{dataTablesInfo.searchValue},'%') or
            a.remark like concat('%',#{dataTablesInfo.searchValue},'%')
            )
        </if>
        <if test="dataTablesInfo.orderColumn!=null and dataTablesInfo.orderColumn != ''">
            ORDER BY
            <if test="dataTablesInfo.orderColumn == 'projectName'">
                n.project_name
            </if>
            <if test="dataTablesInfo.orderColumn == 'projectItemName'">
                d.project_name
            </if>
            <if test="dataTablesInfo.orderColumn == 'bomName'">
                c.bom_name
            </if>
            <if test="dataTablesInfo.orderColumn == 'spName'">
                a.sp_name
            </if>
            <if test="dataTablesInfo.orderColumn == 'remark'">
                a.remark
            </if>
             ${dataTablesInfo.orderDir}
        </if>
        ${dataTablesInfo.limitAfter}
    </select>





    <update id="updateApproveStatus">
        UPDATE
          t_kf_production_instruction
        SET
        approve_status=#{status}
        WHERE del_flag=0
        AND uid  in (select material_id from t_kf_bom_material where bom_id = #{businessKey} limit 1)
    </update>

    <update id="updateApproveStatusBatch">
        UPDATE
        t_kf_production_instruction
        SET
        approve_status=#{status}
        WHERE del_flag=0
        AND bom_id IN
        <foreach item="item" index="index" collection="businessKeys" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>




</mapper>