<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.develop.ProductionInstructionMapper">
    <sql id="searcProductionInstractionInfoSql">
        a.id							AS 	 id,
        a.uid                 			AS   uid,
        a.uid                 			AS   productionInstructionId,
        b.bom_id              			AS   bomId,
        d.project_item_name   			AS   projectItemName,
        c.bom_name            			AS   bomName,
        c.main_color          			AS   colorName,
        c.offer_amout         			AS   offerAmout,
        a.crop_requirements    			AS   cropRequirements,
        a.quality_requirements     		AS   qualityRequirements,
        a.overstitch               		AS   overstitch,
        a.overstitch_space         		AS   overstitchSpace,
        a.blindstitch               	AS   blindstitch,
        a.blindstitch_space          	AS   blindstitchSpace,
        a.overlock                  	AS   overlock,
        a.overlock_space              	AS   overlockSpace,
        a.finish_pressing_requirements	AS   finishPressingRequirements,
        a.spcial_tech                 	AS   spcialTech,
        a.packing_requirements        	AS   packingRequirements,
        a.trademark_code              	AS   trademarkCode,
        a.trademark_remark            	AS   trademarkRemark,
        a.scale_code                  	AS   scaleCode,
        a.scale_remark                	AS   scaleRemark,
        a.rinsing_marks_code          	AS   rinsingMarksCode,
        a.rinsing_marks_remark        	AS   rinsingMarksRemark,
        a.del_flag                      AS   delFlag,
        a.update_time                   AS   updateTime,
        a.remark                        AS   remark
    </sql>


    <select id="queryProductionInstractionInfo" resultType="KfProductionInstructionEntity">
        SELECT
          <include refid="searcProductionInstractionInfoSql"/>
        FROM
          t_kf_production_instruction a,t_kf_bom_material b,t_kf_bominfo c,t_kf_project_item d
        WHERE
        a.uid =b.material_id and a.del_flag=0 and b.bom_id= c.bom_id and c.project_id =d.project_id and b.bom_id = #{bom_id}
    </select>


    <insert id="addProductionInstruction">
        insert into
        t_kf_production_instruction(uid,crop_requirements,quality_requirements,overstitch,overstitch_space,blindstitch,blindstitch_space,overlock,overlock_space,finish_pressing_requirements,spcial_tech,packing_requirements,trademark_code,trademark_remark ,scale_code ,scale_remark,rinsing_marks_code,rinsing_marks_remark)
        values(#{uid}#{cropRequirements},#{qualityRequirements},#{overstitch},#{overstitchSpace},#{blindstitch},#{blindstitchSpace},#{overlock},#{overlockSpace},#{finishPressingRequirements},#{spcialTech},#{packingRequirements},#{trademarkCode},#{trademarkRemark},#{scaleCode},#{scaleRemark},#{rinsingMarksCode},#{rinsingMarksRemark})
    </insert>


    <update id="updateProductionInstruction">
        update
        t_kf_production_instruction
        set
            crop_requirements           = #{cropRequirements},
            quality_requirements        = #{qualityRequirements},
            overstitch                  = #{overstitch},
            overstitch_space            = #{overstitchSpace},
            blindstitch                 = #{blindstitch},
            blindstitch_space           = #{blindstitchSpace},
            overlock                    = #{overlock},
            overlock_space              = #{overlockSpace},
            finish_pressing_requirements= #{finishPressingRequirements},
            spcial_tech                 = #{spcialTech},
            packing_requirements        = #{packingRequirements},
            trademark_code              = #{trademarkCode},
            trademark_remark            = #{trademarkRemark},
            scale_code                  = #{scaleCode},
            scale_remark                = #{scaleRemark},
            rinsing_marks_code          = #{rinsingMarksCode},
            rinsing_marks_remark        = #{rinsingMarksRemark}
        WHERE
            uid =#{uid}
    </update>

    <delete id="deleteByIds">
        update t_kf_production_instruction set del_flag=1
        where uid IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>


</mapper>