<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.info.CategoryManageMapper">
    <sql id="searchInfoSql">
		id AS id,
		category_id AS natrualkey,
		category_name AS name,
		parent_category_id AS parentCategoryId,
		level_id AS levelId,
		remark AS remark,
		update_time AS updateTime
	</sql>
    <select id="queryInfo" resultType="CategoryInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_jc_category
        WHERE category_id =#{natrualkey}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
		SELECT COUNT(*) FROM
		t_jc_category where del_flag=0
	</select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_jc_category WHERE del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            AND (
            category_id LIKE concat('%',#{searchValue},'%') or
            category_name LIKE concat('%',#{searchValue},'%') or
            level_id LIKE concat('%',#{searchValue},'%') or
            remark LIKE concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="CategoryInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_jc_category
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            AND (
            category_id LIKE concat('%',#{searchValue},'%') or
            category_name LIKE concat('%',#{searchValue},'%') or
            level_id LIKE concat('%',#{searchValue},'%') or
            remark LIKE concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
		UPDATE t_jc_category 	SET
		category_name=#{name},
		level_id = #{levelId},
		parent_category_id=#{parentCategoryId},
		remark=#{remark}
		WHERE category_id =#{natrualkey}
	</update>

    <insert id="add">
		INSERT INTO
		t_jc_category (category_id,category_name,level_id,parent_category_id,remark)
		VALUES (#{natrualkey},#{name},#{levelId},#{parentCategoryId},#{remark})
	</insert>

    <update id="del">
		UPDATE t_jc_category
		SET  del_flag=1
		WHERE category_id =#{natrualkey}
	</update>

    <select id="queryCurrentSeqNo" resultType="String">
        SELECT CASE WHEN  category_id IS NULL THEN 0 ELSE category_id END FROM t_jc_category    ORDER BY id DESC LIMIT 1
    </select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        SELECT
          category_id AS natrualkey,
          category_name AS name
        FROM t_jc_category
        WHERE del_flag=0 and level_id=#{name}
    </select>

    <!--信息下拉列表-->
    <select id="querySelectListByLevelId" resultType="CommonBean">
        SELECT
        category_id AS natrualkey,
        category_name AS name
        FROM t_jc_category
        WHERE del_flag=0 AND level_id=#{levelId}
    </select>




    <select id="searchChildCategoryByCategoryId" resultType="CategoryInfo">
        SELECT
            <include refid="searchInfoSql"/>
        FROM t_jc_category
        WHERE del_flag=0
        <if test="categoryId!=null and categoryId!=''">
            AND parent_category_id =#{categoryId}
        </if>
    </select>


</mapper>