<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.info.material.BondingLaminationCoatingDao">
    <sql id="searchInfoSql">
        id AS id,
        blc_id AS natrualkey,
        blc_name AS name,
        del_flag AS delFlag,
        update_time AS updateTime,
        remark AS remark
    </sql>
    <select id="queryInfo" resultType="BondingLaminationCoatingInfo">
        select
        <include refid="searchInfoSql"/>
        FROM t_wl_bonding_lamination_coating
        WHERE blc_id =#{natrualkey}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM
        t_wl_bonding_lamination_coating where del_flag=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_wl_bonding_lamination_coating where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            blc_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="BondingLaminationCoatingInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_wl_bonding_lamination_coating
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            blc_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
        update t_wl_bonding_lamination_coating 	set
        blc_name=#{name},
        remark=#{remark}
        WHERE blc_id =#{natrualkey}
    </update>

    <insert id="add">
        insert into
        t_wl_bonding_lamination_coating (blc_id,blc_name,remark)
        values (#{natrualkey},#{name},#{remark})
    </insert>

    <update id="del">
        update t_wl_bonding_lamination_coating
        set  del_flag=1
        where blc_id =#{natrualkey}
    </update>


    <select id="queryCurrentSeqNo" resultType="String">
        select case when  blc_id is NULL then 0 else blc_id end from t_wl_bonding_lamination_coating    ORDER BY id DESC LIMIT 1
    </select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
		select
			blc_id AS natrualkey,
			blc_name AS name
		from t_wl_bonding_lamination_coating
		where del_flag=0
        <if test="name!=null and name != ''">
            and upper(blc_name) like concat('%',#{name},'%')
        </if>
	</select>

</mapper>