<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.interfaces.mapper.info.material.FinishMapper">
    <sql id="searchInfoSql">
		id AS id,
		finish_id AS natrualkey,
		finish_name AS name,
		del_flag AS delFlag,
		update_time AS updateTime,
		remark AS remark
	</sql>
    <select id="queryInfo" resultType="FinishInfo">
        select
        <include refid="searchInfoSql"/>
        FROM t_wl_finish
        WHERE finish_id =#{natrualkey}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
		SELECT COUNT(*) FROM
		t_wl_finish where del_flag=0
	</select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_wl_finish where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            finish_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>

    </select>

    <select id="searchInfos" resultType="FinishInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_wl_finish
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            finish_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%')
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        <if test="orderColumn ==null or orderColumn == ''">
            ORDER BY update_time desc
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
		update t_wl_finish 	set
		finish_name=#{name},
		remark=#{remark}
		WHERE finish_id =#{natrualkey}
	</update>

    <insert id="add">
		insert into
		t_wl_finish (finish_id,finish_name,remark)
		values (#{natrualkey},#{name},#{remark})
	</insert>

    <update id="del">
		update t_wl_finish
		set  del_flag=1
		where finish_id =#{natrualkey}
	</update>


    <select id="queryCurrentSeqNo" resultType="String">
		select case when  finish_id is NULL then 0 else finish_id end from t_wl_finish    ORDER BY id DESC LIMIT 1
	</select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
		select
			finish_id AS natrualkey,
			finish_name AS name
		from t_wl_finish
		where del_flag=0
        <if test="name!=null and name != ''">
            and upper(finish_name) like concat('%',#{name},'%')
        </if>
	</select>

</mapper>