<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skysport.inerfaces.mapper.info.material.MaterialPositionManageDao">
    <sql id="searchInfoSql">
		id AS id,
		position_id AS natrualkey,
		position_name AS name,
		remark AS remark,
		update_time AS updateTime
	</sql>
    <select id="queryInfo" resultType="MaterialPositionInfo">
        select
        <include refid="searchInfoSql"/>
        FROM t_wl_position
        WHERE position_id =#{position_id}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
		SELECT COUNT(*) FROM
		t_wl_position where del_flag=0
	</select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*) FROM t_wl_position where del_flag=0
        <if test="searchValue !=null and searchValue != ''">
            and (
            position_id like concat('%',#{searchValue},'%') or
            position_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%') or
            )
        </if>

    </select>

    <select id="searchInfos" resultType="MaterialPositionInfo">
        SELECT
        <include refid="searchInfoSql"/>
        FROM t_wl_position
        WHERE del_flag=0
        <if test="searchValue!=null and searchValue != ''">
            and (
            position_id like concat('%',#{searchValue},'%') or
            position_name like concat('%',#{searchValue},'%') or
            remark like concat('%',#{searchValue},'%') or
            )
        </if>
        <if test="orderColumn!=null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        limit #{start} ,#{length}

    </select>

    <update id="updateInfo">
		update t_wl_position 	set
		position_name=#{natrualkey},
		remark=#{remark}
		WHERE position_id =#{natrualkey}
	</update>

    <insert id="add">
		insert into
		t_wl_position (position_id,position_name,remark)
		values (#{natrualkey},#{name},#{remark})
	</insert>

    <update id="del">
		update t_wl_position
		set  del_flag=1
		where position_id =#{natrualkey}
	</update>

    <select id="queryCurrentSeqNo" resultType="String">
		select case when  position_id is NULL then 0 else position_id end from t_wl_position    ORDER BY id DESC LIMIT 1
	</select>

    <!--信息下拉列表-->
    <select id="querySelectList" resultType="CommonBean">
        select
        position_id AS natrualkey,
        position_name AS name
        from t_wl_position
        where del_flag=0
        <if test="name!=null and name != ''">
            and upper(position_name) like concat('%',#{name},'%')
        </if>
    </select>

</mapper>